@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.chat-btn{
  margin:12px;
 background-color: rgb(46, 46, 131);
 border-radius: 5px;
 padding:8px;
 color: #fff;
 min-width: 120px;
}